In [2]:
import requests
import pandas as pd
import json
import os

In [3]:
# from sqlalchemy import create_engine
# import pymysql
# pymysql.install_as_MySQLdb()
# import MySQLdb

In [4]:
# from config import remote_db_endpoint, remote_db_port
# from config import remote_db_name, remote_db_user, remote_db_pwd

### Read csv files

In [5]:
cwd = os.getcwd()

In [6]:
home_values = pd.read_csv("data/zillow_home_values.csv")
home_values

FileNotFoundError: [Errno 2] File data/zillow_home_values.csv does not exist: 'data/zillow_home_values.csv'

In [34]:
home_values_df = home_values.drop(columns = ["SizeRank", "RegionType", "StateName"]).fillna(0)

In [35]:
home_values_json = home_values_df.to_json()

In [27]:
rental_values = pd.read_csv("data/zillow_rental_values.csv")
rental_values_draft = rental_values.drop(columns=["SizeRank"]).fillna(0)
rental_values_draft

,RegionID,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,102001,United States,1373.0,1381.0,1388.0,1396,1403,1410,1417,1424,...,1744,1745,1745,1746,1746,1746,1747,1747,1747,1747.0
1,394913,"New York, NY",2375.0,2387.0,2399.0,2411,2423,2434,2446,2458,...,2769,2753,2734,2714,2694,2673,2651,2630,2607,2584.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",1838.0,1855.0,1873.0,1890,1906,1923,1940,1956,...,2577,2576,2574,2573,2572,2570,2568,2566,2564,2562.0
3,394463,"Chicago, IL",1514.0,1520.0,1525.0,1531,1536,1542,1547,1553,...,1772,1769,1766,1762,1758,1754,1750,1746,1742,1738.0
4,394514,"Dallas-Fort Worth, TX",1209.0,1217.0,1224.0,1232,1239,1246,1254,1261,...,1576,1577,1579,1581,1583,1585,1587,1589,1591,1593.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,394995,"Port St. Lucie, FL",1169.0,1178.0,1188.0,1198,1207,1216,1226,1235,...,1698,1708,1719,1730,1740,1751,1762,1772,1783,1794.0
98,394602,"Fort Collins, CO",1182.0,1198.0,1213.0,1229,1244,1259,1274,1289,...,1606,1608,1611,1614,1617,1619,1622,1625,1628,1631.0
99,394405,"Boulder, CO",1493.0,1506.0,1519.0,1532,1544,1557,1569,1582,...,1984,1985,1987,1990,1992,1994,1996,1998,2000,2002.0
100,394645,"Greeley, CO",1142.0,1154.0,1166.0,1178,1189,1201,1213,1225,...,1604,1607,1611,1616,1620,1624,1628,1632,1637,1641.0
101,394623,"Gainesville, GA",989.0,992.0,995.0,998,1002,1005,1009,1013,...,1391,1395,1400,1405,1411,1416,1421,1426,1431,1437.0

In [15]:
rental_values_df = rental_values_draft.rename(columns={
    "2014-01":"Jan_2014", "2014-02":"Feb_2014", "2014-03":"Mar_2014", "2014-04":"Apr_2014", "2014-05":"May_2014", "2014-06":"Jun_2014", 
    "2014-07":"Jul_2014", "2014-08":"Aug_2014", "2014-09":"Sep_2014", "2014-10":"Oct_2014", "2014-11":"Nov_2014","2014-12":"Dec_2014",
    
    "2015-01":"Jan_2015", "2015-02":"Feb_2015", "2015-03":"Mar_2015", "2015-04":"Apr_2015", "2015-05":"May_2015", "2015-06":"Jun_2015", 
    "2015-07":"Jul_2015", "2015-08":"Aug_2015", "2015-09":"Sep_2015", "2015-10":"Oct_2015", "2015-11":"Nov_2015","2015-12":"Dec_2015",
    
    "2016-01":"Jan_2016", "2016-02":"Feb_2016", "2016-03":"Mar_2016", "2016-04":"Apr_2016", "2016-05":"May_2016", "2016-06":"Jun_2016", 
    "2016-07":"Jul_2016", "2016-08":"Aug_2016", "2016-09":"Sep_2016", "2016-10":"Oct_2016", "2016-11":"Nov_2016", "2016-12":"Dec_2016",
    
    "2017-01":"Jan_2017", "2017-02":"Feb_2017", "2017-03":"Mar_2017", "2017-04":"Apr_2017", "2017-05":"May_2017", "2017-06":"Jun_2017", 
    "2017-07":"Jul_2017", "2017-08":"Aug_2017", "2017-09":"Sep_2017", "2017-10":"Oct_2017", "2017-11":"Nov_2017", "2017-12":"Dec_2017",
    
    "2018-01":"Jan_2018", "2018-02":"Feb_2018", "2018-03":"Mar_2018", "2018-04":"Apr_2018", "2018-05":"May_2018", "2018-06":"Jun_2018", 
    "2018-07":"Jul_2018", "2018-08":"Aug_2018", "2018-09":"Sep_2018", "2018-10":"Oct_2018", "2018-11":"Nov_2018", "2018-12":"Dec_2018",
    
    "2019-01":"Jan_2019", "2019-02":"Feb_2019", "2019-03":"Mar_2019", "2019-04":"Apr_2019", "2019-05":"May_2019", "2019-06":"Jun_2019", 
    "2019-07":"Jul_2019", "2019-08":"Aug_2019", "2019-09":"Sep_2019", "2019-10":"Oct_2019", "2019-11":"Nov_2019", "2019-12":"Dec_2019",
    
    "2020-01":"Jan_2020", "2020-02":"Feb_2020", "2020-03":"Mar_2020", "2020-04":"Apr_2020", "2020-05":"May_2020", "2020-06":"Jun_2020", 
    "2020-07":"Jul_2020", "2020-08":"Aug_2020", "2020-09":"Sep_2020", "2020-10":"Oct_2020", "2020-11":"Nov_2020", "2020-12":"Dec_2020",
})

rental_values_df.head(1)

,RegionID,RegionName,Jan_2014,Feb_2014,Mar_2014,Apr_2014,May_2014,Jun_2014,Jul_2014,Aug_2014,...,Mar_2020,Apr_2020,May_2020,Jun_2020,Jul_2020,Aug_2020,Sep_2020,Oct_2020,Nov_2020,Dec_2020
0,102001,United States,1373.0,1381.0,1388.0,1396,1403,1410,1417,1424,...,1744,1745,1745,1746,1746,1746,1747,1747,1747,1747.0

### Connect to cloud database

In [7]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()
print(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")

mysql://admin:Germany311!@databootcamp.cwwtq0uxj1bi.us-east-2.rds.amazonaws.com:3306/project2

In [ ]:
rental_values_df.to_sql("rental_values", conn, if_exists="append", index=True)

### Test

In [8]:
dict = [{
    "name": "John",
    "age": 32,
    "location": "VA"
}, {
    "name": "Jane",
    "age": 34,
    "location": "NY"
}]

In [9]:
dict_df = pd.DataFrame(dict)
dict_df

   name  age location
0  John   32       VA
1  Jane   34       NY

In [10]:
dict_df.to_sql(con=conn, name='test', if_exists='append', index=False)